* {
    margin: 0;
    padding: 0;
}
.banner{
    background-image: url(Images/1.jpg);
    width: 100%;
    background-size: cover;
}
.top-bar{
    background-color: #000;
    display: flex;
    width: 100%;
    height: auto;
}
.logo{
    color: #fff;
    flex: 1;
    font-size: 40px;
    padding: 18px;
    text-transform: uppercase;
}
.menue{
    flex: 3;
}
.menue ul{
    display: flex;
    list-style: none;
    margin-top: 30px;
    flex-flow: row wrap;
    }
.menue ul li{
     flex: 1;
     text-align: center;
    }
.menue ul li a{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
/*banner*/
.banner-text{
   display: flex;
   padding: 15% 0;
}
.banner-text-items{
    color: #fff;
    margin: auto;
    text-align: center;
    width: 50%;
}
.banner-text-items h2{
    font-size: 3em;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.banner-text-items p{
    font-size: 18px;

}
.main-content{
    display: flex;
    flex-flow: row wrap;
    padding: 5% 0;
}

.main1{
    flex: 1;
    padding: 3%;
    text-align: center;
}
/*contact*/

.contact-items{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact{
background-image: url(Images/2.jpg);
padding: 80px 0;
background-size: cover;
position: relative;
z-index: 1;
}
.contact::before{
position: absolute;
content: '';
height: 100%;
width: 100%;
top: 0;
left: 0;
background: rgb(0, 0, 0,0.5);
z-index: -1;

}
.contact-items h2{
color: #fff; 
font-size: 40px;
margin-bottom: 18px;
}
.contact-items input[type="text"]{
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    width: 50%;
}
.contact-items textarea{

    border-radius: 10px;
    height: 150px;
    padding: 15px;
    width: 50%;
}
.contact-items a{
    background: #da4b29;
    color: #fff;
    display: block;
    font-size: 20px;
    margin-top: 25px;
    padding: 15px 80px;
    text-decoration: none;
    text-transform: uppercase;
}
.contact-items a:hover{
	background:#34495e;
	color:#fff;
}
@media all and (max-width:1000px){
    .top-bar{
    flex-direction: column;
    text-align: center;

    }
    .logo{
        padding: 18px 0 0;
    }
    .menue ul{
    flex-direction: column;
    margin-top: 0;
    }
    .menue ul li{
        padding: 5px;
    }
    .banner-text-items{
        width: 100%;

    }
    .banner-text-items h2{
       font-size: 1.5em ;
    }
    .main-content{
    flex-direction: column;
    }
}